.location_data {
    color: white;
}

.city_data {
    font-size: 24px;
    font-weight: bold;
}

.location_date {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 15px;
    opacity: 70%;
}

.weather_data {
    display: flex;
    align-items: center;
}

.weather_data__temp {
    font-size: 64px;
    font-weight: bold;
    margin-right: 11px;
}

.weather_data__info {
    font-family: 'Merriweather', serif;
    opacity: 70%;
    margin-left: 34px;
}

.some_data {
    display: flex;
    justify-content: space-between;
    border-top: 2px white solid;
    padding-top: 30px;
    align-items: center;
}

.some_data__item {
    display: flex;
    align-items: center;
    opacity: 70%;
}

.some_data__wind_icon {
    width: 37px;
    margin-right: 10px;
}

.some_data__humidity_icon {
    width: 20px;
    margin-right: 10px;
}

.some_data__pressure_icon {
    width: 28px;
    margin-right: 10px;
}

.weather_data__icon {
    width: 60px;
}

