.weather_detail__card {
    background-color: #1E3D59;
    height: 156px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column-gap: 20px;
}

.weather_detail {
    margin-top: 20px;
}

.weather_detail__card_items {
    display: flex;
    overflow-x: hidden;
}
