.weather_detail__card {
    background-color: #1E3D59;
    height: 156px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column-gap: 20px;
}

.weather_detail {
    margin-top: 20px;
}

.weather_detail__card_items {

    overflow-x: hidden;
}

.weather_detail__card_items_slider {
    display: flex;
    position: relative;
    height: 100%;
    right: 0;
    transition: right 0.5s;
}

.weather_detail__card_icon_left {
    width: 22px;
    cursor: pointer;
}

.weather_detail__card_icon_right {
    width: 22px;
    transform: rotate(180deg);
    cursor: pointer;
}

.weather_detail__card_icon_wrapper {
    display: flex;
    justify-content: center;
}

