header {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    align-items: center;
    height: 150px;
    color: #1E3D59;
}

.logo_img {
    width: 110px;
    margin-right: 24px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}

.city_choice {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
}

.city_choice span {
    margin-right: 13px;
}

.city_choice__a {
    color: #1E3D59;
    padding: 0 14px;
}

.city_choice__a:hover {
    color: #1E3D59;
}

@media screen and (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        height: auto;
        margin-bottom: 30px;
        align-items: flex-start;
    }

    .city_choice {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }

    @media screen and (max-width: 355px) {
        .logo {
            font-size: 28px;
        }

        .logo_img {
            width: 90px;
            margin-right: 16px;
        }
    }
}
