@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat+Alternates:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background-color: #FCBF20;
  height: 48px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
}

.button a {
  margin: 0 14px;
}

.card {
  background-color: #1E3D59;
  height: 295px;
  padding: 30px;
}

.weather_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #1E3D59;
  transition: color 0.1s;
}

a:hover {
  color: #FCBF20;
}
